<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--  -->
  <link rel="apple-touch-icon" sizes="180x180" href="/public/manifest/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/public/manifest/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/public/manifest/favicon-16x16.png" />
  <link rel="manifest" href="/public/manifest/site.webmanifest" />
  <link rel="mask-icon" href="/public/manifest/safari-pinned-tab.svg" color="#5bbad5" />
  <link rel="shortcut icon" href="/public/manifest/favicon.ico" />
  <meta name="msapplication-TileColor" content="#da532c" />
  <meta name="msapplication-config" content="/public/manifest/browserconfig.xml" />
  <meta name="theme-color" content="#ffffff" />
  <meta name="description" content="Multi-Platform Attendance Tracker" />
  <title><%= title %></title>

  <!-- Defer loading -->
  <link
    rel="preload"
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
    crossorigin="anonymous"
    as="style"
  />
  <link
    rel="preload"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    as="style"
  />
  <link rel="preload" href="/public/css/main.css" as="style" />
  <script src="/public/js/preload.js"></script>
  <!-- If no javascript direct link -->
  <noscript>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="/public/css/main.css" />
  </noscript>
</head>
