<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <div class="d-flex w-100">
      <div class="flex-fill">
        <a class="navbar-brand" href="#">
          <img
            src="/public/images/logo-128.png"
            alt=""
            width="30"
            height="24"
            class="d-inline-block align-text-top"
          />
          our-attendance
        </a>
      </div>

      <!-- GCP ICON -->
      <div class="text-light">
        <div
        class="d-flex flex-row align-items-center">
          <img
            src="/public/images/gcp-128.png"
            alt=""
            width="25"
            height="25"
            class="d-inline-block align-text-top me-1"
          />
          <div
          class="d-flex flex-column align-items-center">
            <span class="x-text-xx-small">powered by</span>
            <span class="x-text-x-small">Google Cloud</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
