<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <div style="display: flex; width: 100%">
      <div style="flex: 1">
        <a class="navbar-brand" href="#">
          <img
            src="/public/images/logo-128.png"
            alt=""
            width="30"
            height="24"
            class="d-inline-block align-text-top"
          />
          our-attendance
        </a>
      </div>
      <div style="color: #ffffff">
        <div
          style="
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.25rem;
          "
        >
          <img
            src="/public/images/gcp-128.png"
            alt=""
            width="25"
            height="25"
            class="d-inline-block align-text-top"
          />
          <div
            style="
              display: flex;
              flex-direction: column;
              align-items: center;
              padding-left: 0.125rem;
            "
          >
            <span style="font-size: xx-small">powered by</span>
            <span style="font-size: x-small">Google Cloud</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
