<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs',{title:"our-attendance - Login"}) -%>
  <body>
    <%- include('./partials/nav.ejs') -%>
    <main>
      <div class="container mt-3">
        <div class="row justify-content-center">
          <div class="col col-sm-4">
            <div class="card">
              <div class="card-body">
                <!--  -->
                <form id="frm_login">
                  <div class="mb-3">
                    <label for="txt_username" class="form-label"
                      >username</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      name="txt_username"
                      id="txt_username"
                      placeholder="username"
                      required
                    />
                  </div>
                  <div class="d-grid gap-2">
                    <button
                      id="btn_submit"
                      type="submit"
                      class="btn btn-primary"
                    >
                      login
                    </button>
                  </div>
                </form>
                <!--  -->
              </div>
            </div>
            <!--  -->
            <div
              id="msg_not_exists"
              class="alert alert-warning d-flex align-items-center mt-2"
              role="alert"
            >
              <i class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"></i>
              <div>You do not belong here, bye!</div>
            </div>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col col-sm-6">
            <!--  -->
            <div class="card" style="width: 18rem">
              <div class="card-body">
                <h5 class="card-title">
                  <i class="bi bi-shield-shaded"></i> Security Scans
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">
                  <strong><mark>our-attendance</mark></strong>
                  web application served under the domain
                  <strong
                    ><small>
                      <u> our-attendance-33tuv2yxsq-as.a.run.app</u></small
                    ></strong
                  >
                  is using encrypted traffic with TLS and was scanned using
                  open-source and free analysis tools to implement security best
                  practices.
                </h6>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">Results</th>
                      <th scope="col">Grade</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <a
                          rel="noreferrer noopener"
                          target="_blank"
                          href="https://securityheaders.com/?q=https%3A%2F%2Four-attendance-33tuv2yxsq-as.a.run.app%2F&followRedirects=on"
                          >Security Headers</a
                        >
                      </td>
                      <td class="table-success">A+</td>
                    </tr>
                    <tr>
                      <td>
                        <a
                          rel="noreferrer noopener"
                          target="_blank"
                          href="https://snyk.io/test/website-scanner/?test=221030_AiDcP3_508&utm_medium=referral&utm_source=webpagetest&utm_campaign=website-scanner"
                          >snyk.io</a
                        >
                      </td>
                      <td class="table-success">A+</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <!--  -->
          </div>
        </div>
        <!-- END CONTAINER -->
      </div>
    </main>
    <script src="/public/js/index.js"></script>
  </body>
</html>
