<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs',{title:process.env.MA_APP_NAME + " - Login"}) -%>
  <body>
    <%- include('./partials/nav.ejs') -%>
    <main id="index_main">
      <div class="container mt-3">
        <div class="row justify-content-center">
          <div class="col col-sm-4">
            <div class="card">
              <div class="card-body">
                <!--  -->
                <form id="frm_login">
                  <div class="mb-3">
                    <label for="txt_username" class="form-label">username</label>
                    <input
                      type="text"
                      class="form-control"
                      name="txt_username"
                      id="txt_username"
                      placeholder="username"
                      required
                    />
                  </div>
                  <div class="d-grid gap-2">
                    <button disabled id="btn_submit" type="submit" class="btn btn-primary">
                      login
                    </button>
                  </div>
                </form>
                <!--  -->
              </div>
            </div>
            <!--  -->
            <div
              id="msg_not_exists"
              class="alert alert-warning d-flex align-items-center mt-2"
              role="alert"
            >
              <i class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"></i>
              <div>You do not belong here, bye!</div>
            </div>
          </div>
        </div>

        <!-- END CONTAINER -->
      </div>
    </main>
    <%- include('./partials/js-lib.ejs') -%>
    <script defer src="/public/js/index.js"></script>
  </body>
</html>
